body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.table-entry div,
.table-entry,
.d-flex {
  display: flex;
}

.List-section,
.Add-section,
.main-content {
  flex-direction: column;
  align-items: center;
}

.main-content {
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.List-section {
  width: 50%;
}

.book-table {
  width: 100%;
  min-width: 260px;
  display: flex;
  flex-direction: column;
}

.table-entry,
.table-row {
  width: 100%;
  justify-content: space-between;
}

.table-row:nth-child(even) {
  background: #add8e6;
}

.table-entry {
  margin: 1%;
  width: 98%;
}

.table-entry div {
  justify-content: space-between;
  width: 40%;
}

.table-entry div span {
  margin-right: 10px;
}

.removeButton {
  height: 30px;
  align-self: center;
  margin-left: 10px;
}

.List-section-hr {
  border: 1px solid #789;
  width: 40%;
  margin-top: 20px;
}

.Add-section {
  width: 40%;
}

fieldset {
  border: none;
  width: 60%;
}

.form {
  flex-direction: column;
}

.form-item {
  margin: 5px 0;
  height: 30px;
}

.addButton {
  width: 50px;
  align-self: flex-end;
}

.text-align-center {
  text-align: center;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
